.login-body {
    display: block;
    background-image:url("/static/img/backgroundMain.jpg");
    height: 100%;
    align-items: center;
}

body .spacer {
    min-height: 40px;
    background-color: rgb(0,0,0,0);
}

body .home-main {
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    height: 95%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

body .login-main {
    max-width: 330px;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius:20px;
}

.home-form {
    max-width: 330px;
}

form .login-logo {
    width: 80%;
}

form .home-logo {
    max-width: 232px;
}

.link-clickable {
    cursor: pointer;
}