.login-body {
    background-image:url("/static/img/backgroundMain.jpg");

}

body .spacer {
    min-height: 40px;
    background-color: rgb(0,0,0,0);
}

body .login-main {
    max-width: 330px;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius:20px;
}

form .login-logo {
    width: 80%;
}

.link-clickable {
    cursor: pointer;
}