{% extends 'base.html' %}

{% block content %}
    <main class="m-auto" style="max-width: 330px; align-items: center">
        <form>
            {% comment %} <img class="mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> {% endcomment %}
            <h1 class="h3 mb-3 fw-normal">Please Create an Account</h1>

            <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
            </div>

            <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Confirm Password</label>
            </div>

            <a class="w-100 btn btn-lg btn-primary" onclick="window.location.href='/';">Back</a>
        </form>
    </main>
{% endblock %}