{% extends 'base.html' %}
{% block title %}Log-in{% endblock %}
{% block content %}
<div class="spacer"></div>
    <main class="m-auto login-main">
        <form method="post">
        {% load static %}
        <img class="mb-4 login-logo" src="{% static 'img/MLStocks.png' %}" alt="MLStocks logo">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        
            {{ form.as_p }}
            {% csrf_token %}
            {% if message %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
            <button class="w-100 mb-1 btn btn-lg btn-primary">Sign in</button>
            <a class="w-100 mb-1 btn btn-lg btn-primary" onclick="window.location.href='createAccount';">Create Account</a>
            <a class="w-100 btn btn-lg btn-primary" onclick="window.location.href='forgetPass';">Forgot Password?</a>
            <p class="mt-2 mb-0 text-muted">MLStocks &copy; 2022</p>
        </form>
    </main>
{% endblock %}