{% extends 'base.html' %}

{% block content %}
    <main class="m-auto" style="max-width: 330px; align-items: center;
                                background-color: white; padding: 20px;
                                border-radius:20px;">
        <form>
            {% load static %}
            <img class="mb-4" style="horizontal-align: middle;" src="{% static 'img/MLStocks.png' %}" alt="" width="80%">
            <h2 class="h3 mb-3 fw-normal">Please sign in</h2>

            <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox mb-3">
            <a class="m-1" href=#>Forgot Password</a>
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
        </form>
    </main>
{% endblock %}