{% extends 'base.html' %}

{% block title %}Your account{% endblock %}

{% block content %}
<div class="spacer"></div>
    <main class="m-auto login-main">
        <form method="post">
            <h1 class="h3 mb-3 fw-normal">Account Details</h1>

            {{ account_form.as_p }}
            {% csrf_token %}

            <button class="w-100 mt-1 mb-1 btn btn-lg btn-primary" type="submit">Create</button>
            <a class="w-100 btn btn-lg btn-primary" onclick="window.location.href='/';">Back</a>
        </form>
    </main>
{% endblock %}