{% extends 'base.html' %}
{% block title %}Random Forest Discription{% endblock %}
{% block content %}
<div class="spacer"></div>
    <main class="m-auto login-main">
        <h1>How Random Forest ML Works</h1>
        <p>The main reason Random Forest ML algorithm is so useful is because it can be used for both classification and regression problems.</p>
        <p>How does it work? Random forest algorithm builds a forest in the form of an ensemble of decision trees which adds more randomness while growing the trees. While splitting a node, the algorithm searches for the best features from the random subset of features which adds more diversity, thereby resulting in a better model.</p>
        <p>Key Features: Random forest can be used for both regression and classification tasks. Besides, viewing the relative importance that the algorithm assigns to the input features is also very easy. Convenience is another feature of the Random Forest algorithm since it often produces a great prediction result by using the default hyperparameters.</p>
        <p>Limitations: To get a better model one requires more trees but creating more trees slows down the model. This algorithm is not great for predicting real-time results</p>


        <a class="w-100 btn btn-lg btn-primary" onclick="window.location.href='/main';">Back to Main Page</a>
    </main>
{% endblock %}